:root {
    --dark: #192841;
    --light: #e7e3e9;
    --minty: #b3ecec;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--light);
    color: var(--dark);
}

/* Header Styles */
header {
    display:flex;
    align-items: center;
    background-color: var(--dark);
    width:100%;
    height: 80px;

}

h1 {
    background-color: var(--minty);
    display:flex;
    align-items: center;
    width: 350px;
    height: 50px;
    justify-content: flex-end;
    font-size: 40px;
}

nav{
    display: flex;
    justify-content: flex-end;
    margin-left: auto;    
}

nav ul{
    display: flex;
}

nav ul li{
    background-color: var(--dark);
    color: var(--minty);
    font-size: 25px;
    padding: 20px;
}

a {
    color:var(--minty);
    background-color: var(--dark);
    text-decoration:underline;
}

img {
   height: 100px;
   width: 115px;
   background-color: var(--dark);
   margin-bottom: 20px;
}

h2 {
    width: 350px;
    height: 150px;
}

/* Classes */
.subtitle{
    height:160px;
    width: 100%;
    color: var(--minty);
    display: flex;
    align-items: flex-end;
    padding-bottom: 30px;
    padding-right: 50px;
    background-image: url(https://cdn11.bigcommerce.com/s-257gfls6/images/stencil/1280x1280/products/8496/13780/PAR-MDNTBLUE__92550.1510939894.jpg?c=2);

}

.aboutme{
    display: flex;
    align-items: center;
    justify-content: left;
}

.headings{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    border-right: solid #192841;
    font-size: 40px;
}

.loremipsum{
    padding: 20px;
    font-size: 16px;
}