/* General Styles */
:root {
    --dark: #192841;
    --light: #e7e3e9;
    --minty: #b3ecec;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--light);
    color: var(--dark);
}

/* Header Styles */
header {
    display:flex;
    align-items: center;
    background-color: var(--dark);
    width:100%;
    height: 80px;
}

h1 {
    background-color: var(--minty);
    display:flex;
    align-items: center;
    height: 50px;
    justify-content: flex-end;
    font-size: 40px;
    padding-right: 10px;
    min-width: fit-content;
}

nav{
    display: flex;
    justify-content: flex-end;
    margin-left: auto;    
}

nav ul{
    display: flex;
}

nav ul li{
    background-color: var(--dark);
    color: var(--minty);
    font-size: 25px;
    padding: 20px;
    min-width: fit-content;
}

a {
    color:var(--minty);
    background-color: var(--dark);
    text-decoration:underline;
}

h3 {
    color: var(--dark);
    background-color: var(--minty);
    font-size: 20px;
    padding: 3px;
}

h4{
    color: var(--dark);
    background-color: var(--minty);
    font-size: 10px;
    padding: 3px;
}

h6{
    color: var(--dark);
    background-color: var(--minty);
    font-size: 40px;
    width: 400px;
    padding: 7px;
}

/* Classes */
.avatar {
    height: 100px;
    width: 115px;
    background-color: var(--dark);
    margin-bottom: 20px;
}

/* Affects the subtitle section of the page */
.subtitle{
    height:160px;
    width: 100%;
    color: var(--minty);
    display: flex;
    align-items: flex-end;
    padding-bottom: 30px;
    padding-right: 50px;
    background-image: url(https://cdn11.bigcommerce.com/s-257gfls6/images/stencil/1280x1280/products/8496/13780/PAR-MDNTBLUE__92550.1510939894.jpg?c=2);
}

/* Styles each section of main content */
.section{
    margin: 35px;
}

/* Styles the Section Titles */
.Heading {
    display: flex;
    justify-content: flex-end;
    border-right: solid var(--dark);
    min-width: 250px;
}

.Heading-header {
    text-align: right;
    padding-right: 20px;
    font-size: 40px;
    width: 190px;
}

/* Styles the paragraph in 'About Me' section */
.aboutMeParagraph{
    padding-right: 20px;
    padding-left: 20px;
    font-size: 16px;
}

/* Styles cards in 'Work' section */
.workcards{
    display: flex;
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    display: block;
    flex-basis: 100%;
    padding: 10px;
}

.card img{
    height: 150px;
    width: 400px;
    position: relative;
}

.card {
    flex-basis: 50%;
}

.card a{
    display: block;
    height: 135px;
    background-position-y: bottom;
    background-size: cover;
}

#surf-img {
    background-image: url(../images/surf.webp);
    border:solid 3px var(--minty);
}

#LEDWall-img {
    background-image: url(../images/LED\ Wall.jpeg);
    border:solid 3px var(--minty);
}

#Calculator-img{
    background-image: url(../images/Calculator.jpeg);
    border:solid 3px var(--minty);
}

#Puzzles-img{
    background-image: url(../images/pastel\ puzzles.jpeg);
    border:solid 3px var(--minty);
}

#runBuddy-img{
    background-image: url(../images/runbuddy.jpeg);
    border:solid 3px var(--minty);
}

.cardlabel{
    background-color: var(--minty);
    color: var(--dark);
    position: absolute;
    padding: 5px;
    margin-top: -75px;
}

.card:hover{
    opacity: 0.3;
}

/* Styles in Contact Me Section */
.contactme{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;  
}

.contactlink{
    background-color: var(--light);
    color: var(--dark)
}

/* Media Queries */
/* Small Screen */
@media only screen and (min-width:0px) {
    .section{
        display: flex;
        align-items: stretch;
    }

    .avatar {
        display: none;
    }

    .header {
        display: block;
    } 

    h1{
        justify-content: center;
    } 

    nav{
        justify-content: center;
    }
   
    header{
        display: block;
    }
}

/* Medium Screens */
@media only screen and (min-width: 640px) {
    header{
        display: flex;
    }

    .avatar {
        display: flex;
        height: 100px;
        width: 115px;
        background-color: var(--dark);
        margin-bottom: 20px;
    }

     h1{
        justify-content: flex-end;
    } 
}

/* Large Screens */
@media only screen and (min-width: 998px) {
    .card:first-child{
        flex-basis: 100%;
    }

    .card:first-child a{
        height: 385px;
    }
    
    nav{
        display: flex;
        justify-content: space-evenly;
        background-color: var(--dark);
    }
  
    .section{
        display: flex;
    }
}

/* xlarge */
@media only screen and (min-width: 1280px) {
    .section{
        display: flex;
        align-items: stretch;
    }

    .card {
        flex-basis: 50%;
    }

    .header {
        width:100%
    }

    .Heading {
        display: flex;
        justify-content: flex-end;
        border-right: solid var(--dark);;
        min-width: 250px;
    }

    .Heading-header {
        text-align: right;
        padding-right: 20px;
        font-size: 40px;
        width: 100%;
        border-bottom: none;
     }
}